body {
    background-color: #556061;
    color: #333;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


header {
    background-color: #007acc;
    color: white;
    padding: 1rem;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}

nav a{
    color: white;
    text-decoration: none;
    font-size: 16px;
}

main {
    padding: 20px;
}
section {
    margin-bottom: 40px;
}

.intro,.info, .contact-form {
    background-color: white;
    padding: 20px;
    margin: auto;
    max-width: 600px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}

button {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #007acc;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #005c99;
}

footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px;
    margin-top: 40px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    resize: vertical;
    min-height: 100px;
}