@{
    ViewData["Title"] = "Home Page";
}
<body style=" background-color: lightblue">
<div class"="text-center">
    <h1 class="display-4">Employee Management System</h1>
        <img src="https://www.pngitem.com/pimgs/m/523-5233379_employee-management-system-logo-hd-png-download.png" style="height: 500px;" />
    
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
</body>
